<!doctype html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>XXXXX</title>
   <meta name="description" content="The HTML5 Herald">
   <meta name="author" content="SitePoint">
   <link rel="stylesheet" href="css/styles.css?v=1.0">
   <script src="js/scripts.js"></script>
</head>
<body>
<h1>Innovation</h1>
<a href="/">Home</a>
<a href="/innovation">innovation</a>
<a href="/close-the-gap">close-the-gap</a>
<a href="/execute-your-business">execute-your-business</a>
<a href="/high-performance-teams">high-performance-teams</a>
<a href="/fast-software-development">fast-software-development</a>
<a href="/websites-that-kill">websites-that-kill</a>
<a href="/case-studies">case-studies</a>
</body>
</html>